<footer class="footer flex">
    <div class="container">
        <p class="footer-text">Свяжитесь с нами:</p>
        <ul>
            <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-instagram"></i></a>
               
            </li>
            <li>
                <a href="mailto:your.estetist@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>
        <p class="footer-text copyright">&copy;2022 Estetist</p>
    </div>
</footer>