{% load i18n %}
<footer class="footer flex">
    <div class="container">
        <p class="footer-text">{% trans "Свяжитесь с нами" %}:</p>
        <ul>
            <li>
                <a href="https://m.facebook.com/Your.Estetist/?tsid=0.7593261866436525&source=result"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://instagram.com/your.estetist?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
               
            </li>
            <li>
                <a href="mailto:your.estetist@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>
        <p class="footer-text copyright">&copy;2022 Estetist</p>
    </div>
</footer>