{% extends 'base.html' %}
{% load static %}
{% block title %}Estetist{% endblock title %}
{% block content %}
    <section class="container">
        <div class="estetist grid">
            <h1>Индивидуальный подбор ухода за кожей лица</h1>
            <p>Выбирай косметику грамотно вместе с нашим специалистом</p>
            <a href="#"><button>Заказать подбор</button></a>
            <img src="{% static 'images/img4.jpg' %}" alt="">
        </div>
    </section>
    <section id="about-us" class="container section-2 grid">
        <div>
            <h2>
                Estetist.<br> Здоровье - первый шаг к уверенности
            </h2>
        </div>
        <div>
            <p>
                Сегодня на рынке косметической продукции как никогда много разнообразных средств практически на все случаи жизни. Но, как часто бывает: чем больше вариантов - тем сложнее выбор. Мы предлагаем удобное и эффективное решение проблемы корректного подбора цельного комплекса косметического ухода в соответствии с индивидуальными потребностями клиента.
            </p>
        </div>
    </section>
    <section id="services" class="container section-3 grid">
        <a href="#" class="link-prop-base">
            <div>
                <p>Пакет Базовый подбор</p>
            </div>
            <div>
                <p>300 грн</p>
            </div>
            <div>
                <p>Включает в себя:<br>Шаг 1 + Шаг 3</p>
            </div>
        </a>
        <a href="#" class="link-prop-plus">
            <div>
                <p>Пакет Подбор Плюс</p>
            </div>
            <div>
                <p>400 грн</p>
            </div>
            <div>
                <p>Включает в себя:<br>Шаг 1 + Шаг 2 + Шаг 3</p>
            </div>
        </a>
        <a href="#" class="link-prop-full">
            <div>
                <p>Пакет Все включено</p>
            </div>
            <div>
                <p>500 грн</p>
            </div>
            <div>
                <p>Включает в себя полный перечень услуг:<br> Шаг 1 + Шаг 2 + Шаг 3 + Шаг 4</p>
            </div> 
        </a>   
    </section>
    <section class="container section-4 grid">
        <div>
            <p>
                <span>Шаг 1: Консультация</span><br><br>
                Первое с чего стоит начать - определение типа кожи, обозначение конкретных проблем и поиск их первопричин.
                Вам будет предложено заполнить разработаную нашим специалистом форму, которая вдальнейшем будет проанализирована и станет основой для будущей консультации. Ответы на заданые вопросы позволят нашему косметоголу-эстетисту не только подобрать Вам правильный комплекс средств, но и понять Ваши привычки в уходе, которые, возможно, являются ошибочными, или же просто подкорректировать и улучшить некоторые этапы. Во время самой конультации у Вас будет возможность задать все накопившиеся вопросы, которые Вас интересуют. По итогу консультации Вы поймете логику каждого этапа ухода за кожей и какие именно компоненты из состава средств подходят именно Вам.
            </p>
        </div>
        <div>
            <p>
                <span>Шаг 2 (опционально): разбор Вашей "косметички"</span>
                <br><br>
                Для составления полноценной картины лучше также проанализировать те продукты, которые Вы используете сейчас. Во-первых, это позволит нашему специалисту изучить составы используемых средств и дать заключение подходят ли они Вам и правильно ли Вы их используете. Зачастую, именно неверно подобранные компоненты ухода могут быть причиной ухудшения состояния кожи. Более того, после "сортировки" вашей косметички, можно осуществить подбор на основе тех средств, которые Вам подходят и которые уже имеются, что будет значительно выгодней. 
            </p>
        </div>
        <div>
            <p>
                <span>Шаг 3: Подбор уходового комплекса</span><br><br>
                На основе полученой информации косметолог-эстетист подберет Вам оптимальный уход исходя из Ваших потребностей и бюджета. Кроме этого, Вам будет предоставлена подробная инструкция к премению данного комплекса а также доплнительные полезные материалы.
            </p>
            <p>
                <span>Шаг 4 (опционально): Готовый Beauty box</span> <br><br>
                Для экономии Вашего времени предусмотрена услуга составления индивидуального Beauty box, который включает все рекомендуемые уходовые средства с доставкой в удобное для Вас время и место. Стоимость продукции соответствует официальной ценовой политике конкретного бренда. Также полный комплекс услуг включая данное дополнение отлично подойдет в качестве подарка: полезно, удобно и эстетично.
            </p>
        </div>
    </section>
    <section class="container section-5 grid">
        <img src="{% static 'images/cosmetolog.jpg' %}" alt="cosmetolog">
        <p><span style="font-size: 40px;">Косметолог-эстетист</span><br></p>
        <p style="font-size: 20px;">Екатерина Никишина<br><br>
        Подбор уходового комплекса проводит опытный и квалифицированный специалист, выпускник высшего учебного заведения Warszawska uczelnia medychna im. Tadeusza Kozluka, Варшава, Польша;
        Член Профессионального союза косметиков-эстетистов.</p>
    </section>
    <section class=" section-6 flex">
        <p>
            То, о чем Вам не расскажут консультанты в магазине
        </p>
        <div class="arrow-7">
            <span></span>
            <span></span>
            <span></span>
        </div>  
        <a href="#">
            <button class="my-button">Заказать подбор</button>
        </a>  
    </section>
    <section class="container">
        <div class="text-item">Вы будете знать:</div>
        <div class="section-7 grid">
            <div>
                <img src="{% static 'images/steps.png' %}" alt="">
                <p class="text-center">Какие обязательные этапы ухода для Вашего типа кожи</p>
            </div>
            <div>
                <img src="{% static 'images/spices.png' %}" alt="">
                <p class="text-center">
                    Какие ингредиенты являются наиболее эффективными для решения поставленных задач
                </p>
            </div>
            <div>
                <img src="{% static 'images/calendar.png' %}" alt="">
                <p class="text-center">Через какой период времени нужно менять уходовый продукт и почему</p>
            </div>
            <div>
                <img src="{% static 'images/cosmetics_3.png' %}" alt="">
                <p class="text-center">
                    В чем разница между жесткими и мягкими средставами для умывания и какой тип подойдет именно Вам
                </p>
            </div>
            <div>
                <img src="{% static 'images/cosmetics_1.png' %}" alt="">
                <p class="text-center">Крема Питающие VS Увлажняющие: Какой нужен Вашей коже?</p>
            </div>
            <div>
                <img src="{% static 'images/cosmetics_2.png' %}" alt="">
                <p>Пиллинги, скрабы и маски: что, когда и как правильно применять</p>
            </div>

        </div>
    </section>
{% endblock content %}
    
  
   