{% load blog_tags %} 
{% load i18n %}
{% load cache %}
{% cache 600 sidebar %}
<div class="side-bar">
  <div class="form-wrapper search">{% search %}</div>
  <h2>{% trans "Последние публикации" %}:</h2>
  {% show_latest_posts 3 as latest_posts %}
  <ul>
    {% for post in latest_posts %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    <hr />
    {% endfor %}
  </ul>
  <h2>{% trans "Популярные" %}:</h2>
  {% get_most_commented_posts as top%}
  <ul>
    {% for post in top %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    <hr />
    {% endfor %}
  </ul>
  <h2>{% trans "Категории" %}:</h2>
  {% categories as categories%}
  <ul>
    {% for category in categories %}
    <li>
      <a href="{{ category.get_absolute_url }}">{{ category.name|capfirst }}</a>
    </li>
    <hr />
    {% endfor %}
  </ul>
</div>
{% endcache %}