{% extends 'base.html' %}
{% block title %}Заполните форму{% endblock title %}
{% block content %}
    <script>
        //global grecaptcha
        grecaptcha.ready(function() {
        grecaptcha.execute('{{recaptcha_site_key}}', {action: "/contact/"}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
        });
    </script>  
    <section class="form-area">
        <div class="flex container form-legend">
            <h2>Для получения обратной связи</h2>
            <p>Оставьте контактную информацию и мы с Вами свяжемся в ближайшее время</p>
        </div>
        <div class="grid">
            <div class="form-wrapper">
                <form method='post' class="estetist-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <ul>
                        <li class="row-form">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}">Ваше имя</label>
                            {{ form.name }}
                        </li>
                        <li class="row-form">
                            {{ form.email.errors }}
                            <label for="{{ form.email.id_for_label }}">Ваш Email</label>
                            {{ form.email }}
                        </li>
                        <li class="row-form">
                            {{ form.phone.errors }}
                            <label for="{{ form.phone.id_for_label }}">Ваш номер телефона</label>
                            {{ form.phone }}
                        </li>
                        <li class="row-form">
                            {{ form.service.errors }}
                            <label for="{{ form.service.id_for_label }}">Услуга</label>
                            {{ form.service }}
                        </li>
                        <li class="row-form">
                            {{ form.message.errors }}
                            <label for="{{ form.messsage.id_for_label }}">Ваше сообщение</label>
                            {{ form.message }}
                        </li>
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <li>
                            <input type="submit" value="Заказать подбор" class="row-button">
                        </li>
                    </ul> 
                </form>
            </div>
            <div class="message">
                <p>
                    Или напишите нам на E-mail: your.estetist@gmail.com
                </p>
                <a href="mailto:your.estetist@gmail.com" class="mes-env"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </section>
{% endblock content %}  
    
   