{% extends 'base.html' %}
{% load social_share %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <div>
        <div class="blog-post-title flex">
            <h1>{{ post.title }}</h1>
            <span class="pub-date">Опубликовано: {{ post.publish|timesince }} ago</span>
            <ul>
                <li>{% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp"></i>' %}</li>
                <li>{% post_to_telegram '{{ post.title}}: ' object_or_url '<i class="fab fa-telegram"></i>' %}</li>
                <li>{% post_to_facebook object_or_url '<i class="fab fa-facebook"></i>' %}</li>
            </ul>
        </div>
        <div class="blog-post grid">
            <div class="post-detail">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                <p>
                    {{ post.body }}
                </p>
            </div>
            <div class="leave-comment">
                <h3>Оставьте комментарий:</h3>
                <form method='post' class="estetist-form">
                    {% csrf_token %}
                    {{ comment_form.non_field_errors }}
                    <ul>
                        <li class="row-form">
                            {{ comment_form.email.errors }}
                            <label for="{{ comment_form.email.id_for_label }}">Email</label>
                            {{ comment_form.email }}
                        </li>
                        <li class="row-form">
                            {{ comment_form.name.errors }}
                            <label for="{{ comment_form.name.id_for_label }}">Ваше имя</label>
                            {{ comment_form.name }}
                        </li>
                        <li class="row-form">
                            {{ comment_form.body.errors }}
                            <label for="{{ comment_form.body.id_for_label }}">Ваше сообщение</label>
                            {{ comment_form.body }}
                        </li> 
                        <li>
                            <input type="submit" value="Оставить комментарий" class="row-button">
                        </li>
                    </ul> 
                </form>
            </div>
            <div class="comments flex">
                <h3>Комментарии:</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <span>{{ comment.name }} | {{ comment.created|timesince}} ago</span>
                        <p>{{ comment.body }}</p>
                    </div>
                {% empty %}
                    <p>К этой публикации еще нет комментариев.</p>    
                {% endfor %}
            </div>
            <div class="similar flex">
                <h3>Похожие публикации:</h3>
                {% for similar_post in similar_posts %}
                    <a href="{{ similar_post.get_absolute_url }}" class='similar-link'>{{ similar_post.title }}</a>
                {% empty %}
                    <p>Извините, но пока нет похожих публикаций.</p>   
                {% endfor %}
            </div>
            {% include 'sidebar.html' %}
        </div>
    </div>
{% endblock content %}