<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    </link>
    <title>Estetist | Выбирай косметику грамотно</title>
</head>
<body>
    <!--Navbar-->
    <header id="navbar">
        <div class="container flex">
            <a href="#" class="logo"><h1>Estetist</h1></a>
            <nav>
                <ul id="navigation">
                    <li><a href="#" class="navBtn">О нас</a></li>
                    <li><a href="#" class="navBtn">Контакты</a></li>
                    <li><a href="#" class="navBtn">Наш блог</a></li>
                    <li><a href="#" class="navBtn">Услуги</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Content-->
    <main>
        <div>
            <div class="blog-post-title flex">
                <h1>Как ухаживать за волосами в холодное время года?</h1>
                <span class="pub-date">Опубликовано: 03-02-2022 | <i class="fa fa-eye"></i>11</span>
                <span><a href="" class="share"><i class="fab fa-telegram"></i></a>
                <a href="" class="share"><i class='fab fa-instagram'></i></a>
                <a href="" class="share"><i class='fab fa-viber'></i></a>
                <a href="" class="share"><i class='fab fa-facebook-messenger'></i></a></span>
                
            </div>
            <div class="blog-post grid">
                <div class="post-detail">
                    <img src="images/blogphoto.jpg" alt="">
                    <p>
                        Важно соблюдать смену сезона в уходе за волосами. Сегодня расскажем как правильно ухаживать за волосами в зимний период, чтобы сохранить их гладкость, густоту и здоровый блеск.
                        Почему в холодное время года волосам требуется особый уход
                        Волосы моментально реагируют на перепады температуры, ультрафиолет, влажность воздуха, а также на дефицит витаминов в организме. Холодный период отмечается резкой сменой обстановки, что сразу отражается на внешнем виде. И есть факторы, влияющее на состояние волос зимой и осенью.
                            Отсутствие головного убора.
                        Огромное количество женщин боятся испортить образ и даже в сильные морозы отказываются от шапки. От холода сосуды у корней волос сжимаются, а организм, защищаясь, наращивает подкожный слой жира. Все это мешает нормальному кровообращению и доставлению питательных веществ корням волос. Как результат — тотальное выпадение и даже облысение.
                            Распущенные волосы в мороз.
                        Шапка идет не всем и просто делает образ недостаточно эффектным. Чтобы показать свою женственность, мы оставляем волосы поверх одежды и от этого они страдают. 15% воды в составе волоса на морозе замерзают и они трескаются, а если волосы были не до конца высушены после мытья, то повреждения будут значительными. В итоге волос становится ломким, общий вид истощается и все кончики - посеченные.
                            Сухость воздуха в помещении.
                        Высушенный отоплением воздух делает волосы тусклыми и увядшими, особенно опасно, если влажность в помещении опускается ниже 30%.
                            Головные уборы.
                        Между здоровьем и кратковременной красотой, мы советуем выбрать первое. Но зимой неизбежна чрезмерная жирность кожи головы из-за ношения шапки. Возникает парниковый эффект и все повально страдают от зуда, перхоти, а также необходимости ежедневно мыть волосы.
                            Авитаминоз организма.
                        Зимой становится ощутимой нехватка витаминов группы B, А, С, D и E. Все они играют важную роль в строении волоса и питании волосяного фоликула. Поэтому ухудшение внешнего вида и состояния волос часто связано с внутренним состоянием организма. 
                    </p>
                </div>
                <div class="leave-comment">
                    <h3>Оставьте комментарий:</h3>
                    <form action="" class="estetist-form">
                        <ul>
                            <li class="row-form">
                                <label for="email">Email</label>
                                <input type="email" id="email" required>
                            </li>
                            <li class="row-form">
                                <label for="name">Ваше имя</label>
                                <input type="text" id="name" required>
                            </li>
                            <li class="row-form">
                                <label for="message">Ваше сообщение</label>
                                <textarea rows="10" id="message" required></textarea>
                            </li>
                            <li>
                                <input type="submit" value="Оставить комментарий" class="row-button">
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="comments flex">
                    <div class="comment">
                        <span>Ira | 04-02-2022</span>
                        <p>Отлично, спасибо за совет</p>
                        
                    </div>
                    <div class="comment">
                        <span>Pasha | 04-02-2022</span>
                        <p>Не ожидал даже, спасибо</p>
                    </div>
                </div>
                <div class="side-bar">
                    <h2>Последние публикации:</h2>
                    <ul>
                        <li><a href="">Как ухаживать за волосами в холодное время года?</a></li>
                        <hr>
                        <li><a href="">Как избавиться от растяжек?</a></li>
                        <hr>
                    </ul>
                    <h2>Популярные:</h2>
                    <ul>
                        <li><a href="">Как ухаживать за волосами в холодное время года?</a></li>
                        <hr>
                        <li><a href="">Как избавиться от растяжек?</a></li>
                        <hr>
                    </ul>
                    <h2>Тематики:</h2>
                    <ul>
                        <li><a href="">Косметика</a></li>
                        <hr>
                        <li><a href="">Здоровье</a></li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!--Footer-->
    <footer class="footer flex">
        <div class="container">
            <p class="footer-text">Свяжитесь с нами:</p>
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-instagram"></i></a>
                   
                </li>
                <li>
                    <a href="mailto:your.estetist@gmail.com"><i class="fa fa-envelope"></i></a>
                </li>
            </ul>
            <p class="footer-text copyright">&copy;2022 Estetist</p>
        </div>
    </footer>
    <script src="current_nav.js"></script>
</body>
</html>