<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <title>Estetist | Выбирай косметику грамотно</title>
</head>
<body>
    <!--Navbar-->
    <header id="navbar">
        <div class="container flex">
            <a href="#" class="logo"><h1>Estetist</h1></a>
            <nav>
                <ul id="navigation">
                    <li><a href="#" class="navBtn">О нас</a></li>
                    <li><a href="#" class="navBtn">Контакты</a></li>
                    <li><a href="#" class="navBtn">Наш блог</a></li>
                    <li><a href="#" class="navBtn">Услуги</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Content-->
    <main>
        <div class="listview">
            <div class="blog-title flex">
                <h1>Estetist`s blog</h1>
                Делимся опытом, делимся идеями, делимся новостями
            </div>
            <div class="blog-list grid">
                <div class="post">
                    <a href="#">
                        <div class="post-image">
                            <img src="images/blogphoto.jpg" alt="">
                        </div>
                        <h2>Как ухаживать за волосами в холодное время года?</h2>
                        <p>Важно соблюдать смену сезона в уходе за волосами. Сегодня расскажем как правильно ухаживать за волосами в зимний период, чтобы сохранить их гладкость, густоту и здоровый блеск.</p>
                        <span class="date">03-02-2022</span>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <div class="post-image">
                            <img src="images/blogphoto.jpg" alt="">
                        </div>
                        <h2>Как ухаживать за волосами в холодное время года?</h2>
                        <p>Важно соблюдать смену сезона в уходе за волосами. Сегодня расскажем как правильно ухаживать за волосами в зимний период, чтобы сохранить их гладкость, густоту и здоровый блеск.</p>
                        <span class="date">03-02-2022</span>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <div class="post-image">
                            <img src="images/blogphoto2.jpg" alt="">
                        </div>
                        <h2>Как избавиться от растяжек?</h2>
                        <p>Растяжки стали причиной комплексов для многих женщин. У кого-то они появляются уже в подростковом возрасте, а у кого-то после рождения ребенка, и все происходит из-за внезапного растяжения кожи. Неподготовленные клетки разрушаются и остаются белым шрамом на всю жизнь. Но так ли это страшно? </p>
                        <span class="date">03-02-2022</span>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <div class="post-image">
                            <img src="images/blogphoto.jpg" alt="">
                        </div>
                        <h2>Как ухаживать за волосами в холодное время года?</h2>
                        <p>Важно соблюдать смену сезона в уходе за волосами. Сегодня расскажем как правильно ухаживать за волосами в зимний период, чтобы сохранить их гладкость, густоту и здоровый блеск.</p>
                        <span class="date">03-02-2022</span>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <div class="post-image">
                            <img src="images/blogphoto.jpg" alt="">
                        </div>
                        <h2>Как ухаживать за волосами в холодное время года?</h2>
                        <p>Важно соблюдать смену сезона в уходе за волосами. Сегодня расскажем как правильно ухаживать за волосами в зимний период, чтобы сохранить их гладкость, густоту и здоровый блеск.</p>
                        <span class="date">03-02-2022</span>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <div class="post-image">
                            <img src="images/blogphoto.jpg" alt="">
                        </div>
                        <h2>Как ухаживать за волосами в холодное время года?</h2>
                        <p>Важно соблюдать смену сезона в уходе за волосами. Сегодня расскажем как правильно ухаживать за волосами в зимний период, чтобы сохранить их гладкость, густоту и здоровый блеск.</p>
                        <span class="date">03-02-2022</span>
                    </a>
                </div>
                <div class="side-bar">
                    <h2>Последние публикации:</h2>
                    <ul>
                        <li><a href="">Как ухаживать за волосами в холодное время года?</a></li>
                        <hr>
                        <li><a href="">Как избавиться от растяжек?</a></li>
                        <hr>
                    </ul>
                    <h2>Популярные:</h2>
                    <ul>
                        <li><a href="">Как ухаживать за волосами в холодное время года?</a></li>
                        <hr>
                        <li><a href="">Как избавиться от растяжек?</a></li>
                        <hr>
                    </ul>
                    <h2>Тематики:</h2>
                    <ul>
                        <li><a href="">Косметика</a></li>
                        <hr>
                        <li><a href="">Здоровье</a></li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!--Footer-->
    <footer class="footer flex">
        <div class="container">
            <p class="footer-text">Свяжитесь с нами:</p>
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-instagram"></i></a>
                   
                </li>
                <li>
                    <a href="mailto:your.estetist@gmail.com"><i class="fa fa-envelope"></i></a>
                </li>
            </ul>
            <p class="footer-text copyright">&copy;2022 Estetist</p>
        </div>
    </footer>
    <script src="current_nav.js"></script>
</body>
</html>